@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');
:root {
  --main_color: #1396ab;
  /* background-image: linear-gradient(top right, #1396ab 75%, #1396ab 0%) ; */
}

body {
  font-family: "Roboto" ;
 

}

h2{
    font-family: "Lobster";
    font-size: 3rem;
    color: var(--main_color);
}

h4 {
  margin: 10px 0 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: 300;

}

img {
  width: 90px;
}

strong {
  font-weight: 400;
}

.cart {
  text-align: right;
  width: 80px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper__titles {
  display: flex;
  justify-content: center;
}

.wrapper__titles h2 {
  font-size: 2rem;
}

.wrapper__titles h4 {
  font-size: 0.9rem;
}

.wrapper__products {
  margin: 0 40px;
  height: 38vh;
  display: flex;
  overflow-y: hidden;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 7.5px;
  padding: 10px;
  background: white;

  min-width: 150px;
  max-height: 300px;

  border: 5px solid var(--main_color);
  border-radius: 15px;

  opacity: 0.78;
  cursor: pointer;
  transition: all 0.35s;
}

.product:hover {
  transform: scale(0.9);
  border: 2px solid var(--main_color);
}

.product:active {
  opacity: 1;
  transform: scale(1);
}

.product p {
  align-self: flex-start;
}

.btn{
    display: flex;
}